* {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: Arial, Helvetica, sans-serif;
        }

        header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px;
            background-color: #333;
        }

        .logo {
            font-size: 24px;
            text-decoration: none;
            color: #fff;
            font-weight: bold;
        }

        .nav-links {
            list-style: none;
            position: absolute;
            top: 60px;
            right: 0;
            left: 0;
            background-color: #333;
            padding: 10px;
            width: 100%;
            display: none;  
        }

        .nav-links li {
            margin: 10px 0;
        }

        .nav-links a {
            text-decoration: none;
            color: #fff;
            font-size: 18px;
        }

        .hamburger-icon {
            font-size: 24px;
            cursor: pointer;
            color: #fff;
        }

        @media screen and (min-width: 1000px) {
            .hamburger-icon {
                display: none;
            }
            .nav-links {
                display: flex;
                position: static;
            }
            .nav-links li {
                margin: 0 10px;
            }
        }