* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: #e5cb90;
  z-index: 1;
  position: sticky;
  top: 0;
}

.logo {
  font-size: 24px;
  text-decoration: none;
  color: #1a3263;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  position: absolute;
  top: 60px;
  right: 0;
  left: 0;
  background-color: #1a3263;
  padding: 10px;
  width: 100%;
  display: none;
  z-index: 1;
}

.nav-links li {
  margin: 10px 0;
}

.nav-links a {
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}

.hamburger-icon {
  font-size: 24px;
  cursor: pointer;
  color: #1a3263;
}

/* Hero */
section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  justify-content: center;
  margin-bottom: 80px;
  margin-top: 200px;
  margin-bottom: 350px;
}

section h1 {
  font-size: 42px;
  text-align: center;
}

section p {
  margin-top: 10px;
  text-align: center;
}

.tombol {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}

.tombol-dalem {
  position: relative;
  padding: 10px 100px;
  background-color: #121358;
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  border-radius: 10px;
  transition:
    color 0.3s ease,
    background-color 0.3s ease;
}

.tombol-dalem-dua {
  position: relative;
  padding: 10px 100px;
  background-color: #121358;
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  border-radius: 10px;
  transition:
    color 0.3s ease,
    background-color 0.3s ease;
}

/* Efek hover tombol pada hero */
.tombol-dalem-dua:hover {
  background-color: #34a99d;
  color: #ffffff;
  object-fit: cover;
}
.tombol-dalem:hover {
  background-color: #34a99d;
  color: #ffffff;
  object-fit: cover;
}

section img {
  width: 250px;
  height: 300px;
  border-radius: 190px;
}

/* Tentang Diriku */
.about {
  position: relative;
  align-items: center;
  display: flex;
  margin-bottom: 150px;
  justify-content: space-around;
}

.about h1 {
  font-size: 40px;
}

.name {
  color: #121358;
  font-weight: bolder;
}

.named {
  color: #8a7650;
  font-weight: bolder;
}

.about button {
  margin-top: 20px;
  display: inline-flex;
  align-items: center;
  border: none;
  background-color: #121358;
  padding: 14px 96px;
  color: white;
  font-size: 14px;
  cursor: pointer;
  border-radius: 30px;
  font-weight: bold;
  transition:
    color 0.3s ease,
    background-color 0.3s ease;
}

.about button:hover {
  background-color: #34a99d;
  color: #ffffff;
}

/* Tempat Skill */
main {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.skills-section {
  padding: 50px;
}

.skills-section ul {
  list-style-type: none;
}

.skill {
  flex-direction: column;
  gap: 5px;
  background-color: white;
  padding: 20px;
  display: flex;
  gap: 15px;
  align-items: center;
  border-radius: 15px;
  box-shadow: 0 2px 10px black;
  margin-bottom: 20px;
}

.skill button {
  padding: 10px 40px;
  background-color: #121358;
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  border-radius: 10px;
  text-align: center;
  border: none;
  margin-top: 10px;
  transition:
    color 0.3s ease,
    background-color 0.3s ease;
}

.skill button:hover {
  background-color: #34a99d;
  color: #ffffff;
}

.skill img {
  width: 50px;
  height: 50px;
}

/* Projects */
.projects-sec {
  padding: 40px 20px;
  background-color: #ffffff;
  margin-bottom: 150px;
}

.projects-sec h1 {
  text-align: center;
  margin-bottom: 30px;
}

.project-grid {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 1000px;
  margin: 0 auto;
}

.project-card {
  background: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.project-card button {
  padding: 10px 40px;
  background-color: #121358;
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  border-radius: 10px;
  text-align: center;
  border: none;
  margin-top: 10px;
  transition:
    color 0.3s ease,
    background-color 0.3s ease;
}

.project-card img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 6px;
}

/* Kontak */
.contact-me {
  background-color: #fff3c8;
  border-radius: 12px;
  padding: 24px;
  width: 100%;
  max-width: 450px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 20px;
  margin-bottom: 100px;
}

.info h2 {
  font-size: 1.8rem;
  font-weight: 800;
  color: black;
  margin-bottom: 12px;
  letter-spacing: 0.5px;
  text-align: center;
}

.info h2 span {
  background-color: #121358;
  color: #ffffff;
  padding: 2px 8px;
  display: inline-block;
  border-radius: 5px;
}

.info p {
  color: black;
  font-size: 0.95rem;
  line-height: 1.5;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.grup {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.grup label {
  font-size: 0.85rem;
  color: black;
  font-weight: 600;
}

.grup input,
.grup textarea {
  width: 100%;
  padding: 14px;
  border: 1px solid #fcecdd;
  font-size: 1rem;
  outline: none;
}

.grup textarea {
  resize: none;
  min-height: 100px;
}

.submit {
  background-color: #121358;
  color: #fcecdd;
  border: none;
  padding: 16px;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 600px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-top: 8px;
  width: 100%;
}

/* Footer */
footer {
  background-color: #e5cb90;
  color: #8a7650;
  padding: 30px 20px;
  text-align: center;
}

footer h2 {
  font-size: 16px;
  color: #8a7650;
  margin-bottom: 8px;
  font-weight: bold;
}

footer p {
  line-height: 1.5;
  color: black;
}

footer ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 15px;
}

footer ul li img {
  width: 35px;
  height: 35px;
  object-fit: cover;
  border-radius: 50%;
  background-color: #ffffff;
  padding: 5px;
  display: block;
}

@media screen and (min-width: 800px) {
  .hamburger-icon {
    display: none;
  }
  .nav-links {
    display: flex;
    position: static;
    background-color: #e5cb90;
  }
  .nav-links li {
    margin: 0 10px;
  }

  .nav-links a {
    color: #1a3263;
    padding: 10px 15px;
    display: inline-block;
    transition:
      color 0.5s ease,
      background-color 0.5s ease;
  }

  .nav-links a:hover {
    background-color: #8a7650;
    color: #fcecdd;
    border-radius: 4px;
    transform: translateY(-4px);
  }

  /* Hero */
  section {
    position: relative;
  }

  /* BAg. Skills */
  main {
    text-align: center;
    padding: 40px 20px;
    margin-top: 50px;
  }

  main ul {
    font-size: 15px;
    margin-bottom: 20px;
    list-style-type: none;
  }

  .skills-section {
    display: flex;
    justify-content: center;
    gap: 30px;
    position: relative;
    margin-top: 10px;
  }

  .skill {
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
  }

  /* Projects */
  .projects-sec {
    display: flex;
  }

  .project-grid {
    display: flex;
    flex-direction: row;
  }
}
